<!------- navbar -------->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border-bottom mb-auto">
    <div class="container-fluid">
        <div class="flex-row align-items-center">
        <img src="Assets/images/logo.png" style="height: 70px">

        <a class="navbar-brand" href="/home">Irin Nahar</a>
        </div>
      <div class="d-flex " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  collapse navbar-collapse ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-home fa-lg"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"><i class="fas fa-info"></i> About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects"><i class="fas fa-cog"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services"><i class="fas fa-map"></i> Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact"><i class="fas fa-phone-alt"></i> Contact Me</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>