<!------ main body ----------->
  <div class="container-fluid  bg-dark " >
    <main class="px-3 w-50 p-5 mx-auto flex-column mt-10"style="height: 100vh" >
      <h1 class="text-white pt-5">Welcome to my Portfolio!!</h1>
      <h2 class="text-warning">Hellp, I am Irin Nahar</h2>
      <p class="lead text-white">Obviously I'm a Web Designer. Web Developer with over 3 years of experience. Experienced with all stages of the development
        </p>
      <p class="lead">
        <a href="/about" class="btn btn-lg btn-warning fw-bold ">More About Me</a>
      </p>
    </main>
  </div>