 <head>
    <!-----------
    Name: Irin Nahar
    ID: 301173198
    Date: 04/06/2021
    ----------->
    <title><%= title %></title>
    <!-----Css Section---------->
    <link rel='stylesheet' href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href="@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel='stylesheet' href="Content/app.css" type="text/css" />
    <!-------- scripts ---------->
    <scripts src="jquery/dist/jquery.min.js"></scripts>
    <scripts src="bootstrap/dist/js/bootstrap.min.js"></scripts>
    <scripts src="Scripts/app.js"></scripts>
  </head>
