<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body>

    <!------ Header ----------->
    <header>
        <%- include('partials/header'); %>
    </header>

    <!------ main body ----------->
    <main>      
        <div class="container-fluid text-white bg-dark" id="about-container">
            <div class="d-flex justify-content-evenly mb-3 container pt-5">
                <div class="p-2 bd-highlight w-50">
                    <div class="fs-2 border-bottom">About Me</div>
                    <div class="fs-3 pt-3" >Hi! My name is Irin Nahar.</div>
                    <p>I am a Web Developer with over 3 years of experience. Experienced with all stages of the development cycle for dynamic web projects. I'm very passionate and dedicated to my work.</p>
                    <a class="btn btn-warning btn-download fw-bold" href="Assets/files/IrinNaharResume.pdf" download role="button">Download Resume</a>
                </div>
                <div class="p-2 aboutImage">
                    <img src="Assets/images/image1.jpg" />
                </div>
            </div>
        </div>
    </main>  
    <!------ footer ------------>
    <footer>
        <%- include('partials/footer'); %>
    </footer>  
  </body>
</html>