<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body>

    <!------ Header ----------->
    <header>
        <%- include('partials/header'); %>
    </header>

    <!------ main body ----------->
    <main>      
        <div class="container-fluid pb-5 ">
            <div class="container pt-5">
                <div class="fs-2 text-white text-center">Contact Me</div>
                <div class="row">
                    <div class="col-6 text-white">
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <a class="btn btn-warning fw-bold"  role="button" type="submit" href="/home" class="">Submit</a> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>  
    <!------ footer ------------>
    <footer>
        <%- include('partials/footer'); %>
    </footer>  
  </body>
</html>