<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>

    <!------ Header ----------->
    <header>
        <%- include('partials/content'); %>
    </header>

    <!------ main body ----------->
    <main>      
        <div class="container-fluid pb-5 ">
            <div class="container pt-5">
                <div class="fs-2 text-white text-center">Contact Me</div>
                <div class="row text-white">
                    <div class="col-6  p-5">
                        <form> 
                            <div class="mb-3">
                                <label for="exampleInputName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputContact" class="form-label">Contact Number</label>
                                <input type="number" class="form-control" id="exampleInputContact" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputMessage" class="form-label">Message</label>
                                <textarea rows="4" cols="6" class="form-control" id="exampleInputMessage"></textarea>
                            </div>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            <a class="btn btn-warning fw-bold mt-3"  role="button" type="submit" href="/home" class="">Submit</a> 
                        </form>
                    </div>
                    <div class="col-6 p-5">
                        <h1 class="text-warning border-bottom">Address</h1>
                        <h3>Toronto, Canada</h3>
                        <h4>Durness Avenue, Scarborough</h4>
                        <div class="pt-5">
                            <h5><i class="fas fa-phone-alt text-warning"></i>  (437) 220 1109</h5>
                            <h5><i class="fas fa-envelope text-warning"></i>  irinnahar13@gmail.com</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>  
    <!------ footer ------------>
    <footer>
        <%- include('partials/footer'); %>
    </footer>  
  </body>
</html>