<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-----Css Section---------->
    <link rel='stylesheet' href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href="@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel='stylesheet' href="Content/app.css`" />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-------- scripts ---------->
    <scripts src="jquery/dist/jquery.min.js"></scripts>
    <scripts src="bootstrap/dist/js/bootstrap.min.js"></scripts>
    <scripts src="Scripts/app.js"></scripts>
  </body>
</html>

<html